<h1>Users</h1>
<table class="table table-striped text-start">
  <thead>
      <th scope="col">Last name</th>
      <th scope="col">First name</th>
      <th scope="col">DOB</th>
      <th scope="col">Email</th>
      <th scope="col">No. of books</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>