<h1>Books</h1>
<table class="table table-striped text-start">
  <thead>
      <th scope="col">Name</th>
      <th scope="col">Short Description</th>
    </tr>
  </thead>
  <tbody>
    <%= render @books %>
  </tbody>
</table>